@{
    ViewData["Title"] = "Exercício (Novo)";
}

@model int
<style>
    #testValues input {
        border: 0;
    }
</style>

<form asp-controller="Problem" asp-action="Create" method="POST" class="col-xs-8 col-xs-offset-2">
            <input type="hidden" name="ANidClass" value="@Model">
            <div class="row">
                <label class="form-label">Título</label>
                <input name="DesTitle" type="text" class="form-control">
            </div>
            <br>
            <div class="row">
                <label class="form-label">Enunciado</label>
                <textarea name="DesProblem" rows="20" class="form-control"></textarea>
            </div>

            <br>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Adicionar Teste
            </button>

            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Visivel para estudantes</th>
                    <th scope="col">Input</th>
                    <th scope="col">Output</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="testValues">
                </tbody>
                </table>
            <br>
            <br>
            <button class="btn btn-primary pull-right" type="submit">Salvar Exercício</button>
        </div>    
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <label class="form-label">Input</label>
                    <input id="inputTest" type="text" class="form-control">
                </div>
                <br>
                <div class="row">
                    <label class="form-label">Output</label>
                    <input id="outputTest" type="text" class="form-control">
                </div>
                <br>
                <div class="row">
                    <label class="form-label">Visivel para estudantes</label>
                    <input id="visibleTest" type="checkbox" checked>
                </div>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" onclick="AddTest(event)" class="btn btn-primary">Criar Teste</button>
      </div>
    </div>
  </div>
</div>

<script id="row_template" type="text/template">
    <tr id="{{index}}">
        <td>
            <input type="checkbox" name="ProblemTests[{{index}}].FlgVisibleToUser" value="true" {{checked}}>
            <input type="hidden" name="ProblemTests[{{index}}].FlgVisibleToUser" value="false">
        </td>
        <td><input type="text" readonly name="ProblemTests[{{index}}].DesTestInput" value="{{input}}"/></td>
        <td><input type="text" readonly name="ProblemTests[{{index}}].DesTestExpectedOutput" value="{{output}}"/></td>
        <td><a onclick="RemoveTest(this)"><span class="glyphicon glyphicon-remove"></span> Remover</a></td>
    </tr>
</script>

<script>
    var test_rows = []

    function AddTest(e) {
        var row = $("#row_template").html();

        var input = $("#inputTest").val();
        var output = $("#outputTest").val();
        var visible = $("#visibleTest:checked").length > 0;

        row = row.replace("{{checked}}", (visible ? "checked" : 0));
        row = row.replace("{{input}}", input);
        row = row.replace("{{output}}", output);

        test_rows.push(row);

        fillTable();
    }

    function fillTable() {
        $("#testValues").html("");

        for(var i = 0; i < test_rows.length; i++)
        {
            row = test_rows[i].replace(/{{index}}/g, i);
            $("#testValues").append(row);
        }
    }

    function RemoveTest(obj) {
        var test_index = parseInt($(obj).parent().parent().attr("id"));

        test_rows = test_rows.filter(function(t, index) { return index != test_index; });
        
        fillTable();
    }
</script>