@{
    ViewData["Title"] = "Group";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<style>
    body {
        background-color: grey;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)), url("/images/background-login.JPG");
        background-size: cover;
        height: 100vh;
        overflow: hidden;
    }

    .vri-content {
        height: calc(100vh - 50px);
        background-color: white;
        padding: 0;
        z-index: 10;
        margin-top: 50px;
    }
</style>

<div class="row">
    <div class="col-xs-12 vri-content">
        <div class="jumbotron">
            <h3>Turma X</h3>
            <div class="col-xs-12">
                <button class="btn btn-primary pull-right">Adicionar Exercicio</button>
            </div>
        </div>

        <div class="col-xs-8  col-xs-offset-2">
            <h4>Exercicios</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td colspan="3">
                            <span class="form-control">
                                Exercicio 1
                            </span>
                        </td>
                        <td>
                            <a class="btn btn-default">Acessar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>    

    </div>
</div>