@{
    ViewData["Title"] = "Home";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<style>
    body {
        background-color: grey;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)), url("/images/background-login.JPG");
        background-size: cover;
        height: 100vh;
        overflow: hidden;
    }

    .vri-content {
        height: 80vh;
        background-color: white;
        padding: 0;
        z-index: 10;
        height: 100vh;
    }

    .btn-primary {
        padding: 15px 30px;
        box-shadow: 2px 2px 0px darkslategrey;
        border-radius: 0;
        float: right;
        font-size: 12px;
        margin: 2px;
    }

    .btn-primary span {
        color: white;
    }

    input.form-control {
        border-radius: 0;
    }

    #footer-info {
        position: absolute;
        right: 10px;
        text-align: right;
        bottom: 0;
        color: white;
        font-size: 10px;
    }

    .ball {
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 100%;
    }
</style>

<div class="row">
    <div class="col-xs-12 vri-content">
    </div>
</div>