@{
    ViewData["Title"] = "Turmas";
}

@model List<Class>

    <div class="col-xs-12">
        <form asp-action="JoinClass" asp-controller="Class" method="POST">
            <h4>Ingressar em uma turma</h4>
            <div class="col-xs-">
                <input type="text" name="ANidClass" class="col-xs-8" placeholder="Digite o código da Turma:">
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-primary">Entrar na Turma</button>
            </div>
        </form>
        <div class="col-xs-2">
            <a class="btn btn-primary" href="/Class/Create">Criar nova Turma</a>
        </div>
    </div>
    <div class="col-xs-12">
        <br>    
        <h4>Minhas Turmas</h4>
        <table class="table table-bordered">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td colspan="3">
                            <span class="form-control">
                                @item.NamClass
                            </span>
                        </td>
                        <td>
                            <a href="/Class/Visualization?ANidClass=@(item.NidClass)" class="btn btn-default">Acessar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>